/.idea
/Images
/Tethys.xcodeproj/project.xcworkspace/
/Tethys.xcodeproj/project.xcworkspace/
/Tethys.xcodeproj/xcuserdata/
foo
*swp
*bcsymbolmap
/Carthage
/.release_token
/.bundle
/fastlane/README.md
/fastlane/report.xml
/fastlane/test_output
/rNews.app*
/rNews.ipa
/Tethys.app*
/Tethys.ipa
/.inoreader
/documentation/libraries.html
