[submodule "PureLayout"]
	path = PureLayout
	url = https://github.com/smileyborg/PureLayout.git
[submodule "AMPopTip"]
	path = AMPopTip
	url = https://github.com/andreamazz/AMPopTip.git
[submodule "MWFeedParser"]
	path = MWFeedParser
	url = https://github.com/younata/MWFeedParser.git
[submodule "Vendor/Quick"]
	path = Vendor/Quick
	url = https://github.com/Quick/Quick.git
[submodule "Vendor/Nimble"]
	path = Vendor/Nimble
	url = https://github.com/Quick/Nimble.git
[submodule "Vendor/Ra"]
	path = Vendor/Ra
	url = https://github.com/younata/Ra.git
[submodule "BreakOutToRefresh"]
	path = BreakOutToRefresh
	url = https://github.com/dasdom/BreakOutToRefresh.git
[submodule "Vendor/BreakOutToRefresh"]
	path = Vendor/BreakOutToRefresh
	url = https://github.com/dasdom/BreakOutToRefresh.git
