# swift
github "younata/Muon" "master"
github "younata/Lepton" "master"
github "younata/FutureHTTP" "master"
github "ashleymills/Reachability.swift"
github "tid-kijyun/Kanna"
github "antitypical/Result"
github "cbguder/CBGPromise" "master"
github "swinject/swinject"
github "jrendel/SwiftKeychainWrapper"
github "SwiftKickMobile/SwiftMessages"

# objc
github "PureLayout/PureLayout"
github "TimOliver/TOBrowserActivityKit" "master"
github "realm/realm-cocoa"

