<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AddToRNews.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>OpenInRNews.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>OpenInRNewsTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Tethys.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TethysAcceptanceSpecs.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TethysAppSpecs.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TethysKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>TethysKitSpecs.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>891CC5851BAB9D6300661B66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>891CC5981BAB9EF100661B66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>894304201B45089A000078DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>894304291B45089A000078DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89635F881A13C2E30052C248</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>898979231B707FAD00218498</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8989792C1B707FAE00218498</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>898979C51B7155D700218498</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8992D4381C37C9B0004A5A35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89BA1E581D92487A00769A25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89C8307219D730E9009924DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89C8308A19D730E9009924DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89C96BD11B7E7ECD003DFF2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89C96BE41B7E7EF7003DFF2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89C96BF21B7E7F4F003DFF2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
