body{
    font-size: 24px;
    font-family: Helvetica;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

p{
    font-size: 24px;
    font-family: Helvetica;
}

a{
    text-decoration: none;
    font-weight: 800;
}

h1{
    display: inline;
}

img{
    border: 0;
}